.content {
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4747D4;
    margin: auto;
    padding: 25px 25px 25px;
    border-radius: 20px;
    text-align: center;
}
@media all and (min-width:200px) and (max-width: 960px) {
    .content{ 
        width: 90%;
        margin:auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #011e3d;
        padding: 25px 25px 25px;
        border-radius: 20px;
        text-align: center;
    }
  }

.cardish {
    width: 80%;
    color:black;
    background-color: lightskyblue;
    margin: auto;
    padding: top 25px;
    border-radius: 10px;
}
@media all and (min-width:200px) and (max-width: 960px) {
    .cardish{
        width: 95%;
        background-color: rgb(88, 151, 190);
        margin: auto;
        padding: top 25px;
        border-radius: 10px;
    }
  }

  #iframe{
    padding:"20",
  }

.row {
    padding: 1%;
}